<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <script src="./script.js" defer></script>
    <title>Tom Stöhrer Templates</title>
  </head>
  <body>
    <nav>
      <div>
        <img src="./img/logo.svg" alt="Logo" />
        <ul>
          <li>Produkte</li>
          <li>Geschichte</li>
          <li>Karriere</li>
          <li>Kontakt</li>
          <li>Log in</li>
      </div>
      </ul>
    </nav>
    <main>
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
