/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
TABLE OF CONTENTS
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*
 * 0. General
 * 1. Navigation
 * 
*/

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
0. GENERAL
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/*______________________________________
Fonts
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); */

@font-face {
  font-display: swap;
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/material-symbols-rounded-v156-latin-regular.woff2")
    format("woff2");
}

/*______________________________________
Default Variables
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

:root {
  /* sets font size to 10px and respects user font preferences */
  font-size: 62.5%;
  --tst-backup-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tst-text-font: "Atkinson Hyperlegible", sans-serif;
  --tst-highlight-font: "DM Sans", sans-serif;
  --tst-icon-font: "Material Symbols Rounded";
  --tst-nav-icon-font-size: 2rem;

  --tst-space-xs: 0.5rem;
  --tst-space-s: 1rem;
  --tst-space-m: 2rem;
  --tst-space-l: 4rem;
  --tst-space-xl: 8rem;

  --tst-space-y: var(--tst-space-m);
  --tst-space-x: var(--tst-space-l);

  --tst-page-width-s: 1440px;
  --tst-page-width-m: 1668px;
  --tst-default-page-width: var(--tst-page-width-s);

  --tst-h1: 4.7rem;
  --tst-h2: 3.9rem;
  --tst-h3: 3.3rem;
  --tst-h4: 2.7rem;
  --tst-h5: 2.3rem;
  --tst-h6: 1.9rem;
  --tst-text: 1.6rem;

  --tst-border-radius: 1rem;

  --tst-nav-height: 8rem;
  --tst-nav-gap-x: var(--tst-space-l);
  --tst-nav-gap-y: var(--tst-space-m);
  --tst-nav-height-scrolled: 6rem;
  --tst-current-nav-height: var(--tst-nav-height);

  /* 60-30-10 Regel
   * 60% Primary Color
   * 30% Secondary Color
   * 10% Accent Color
  */

  --tst-color-primary: #fff;
  --tst-color-secondary: #00f;
  --tst-color-accent: #f00;
  --tst-color-text: #000;
  --tst-color-background-1: var(--tst-color-primary);
  --tst-color-background-2: var(--tst-color-secondary);
}

[data-scrolled="true"] {
  --tst-current-nav-height: var(--tst-nav-height-scrolled);
}

/*______________________________________
Breakpoints
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

@media (max-width: 768px) {
  :root {
  }
}

@media (max-width: 425px) {
  :root {
  }
}

/*______________________________________
Default Styles
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--tst-text-font, --tst-backup-fonts);
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--tst-text-color);
  background-color: var(--tst-background-color-1);
  margin-top: var(--tst-current-nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tst-highlight-font, --tst-backup-fonts);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.35em;
}

.dev-lines {
  position: fixed;
  border-left: 2px solid gray;
  border-right: 2px solid gray;

  inset: 0 calc((100vw - var(--tst-default-page-width)) / 2) 0
    calc((100vw - var(--tst-default-page-width)) / 2);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
1. NAVIGATION
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

nav ul,
footer ul {
  list-style: none;
}

#tst-site-nav {
  touch-action: manipulation;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* overflow: hidden; */
  height: var(--tst-nav-height);
  z-index: 100;
  background-color: var(--tst-color-text);
  color: var(--tst-color-primary);
  transition: transform 0.3s ease-in-out;
  animation: open-nav 0.3s ease-in-out forwards;
}

#tst-site-nav > .tst-section-inner {
  /* don't change x padding this is needed for cs calculation */
  padding: var(--tst-space-s) var(--tst-space-x);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--tst-nav-gap-x);
}

#tst-site-nav .tst-section-inner > ul {
  display: contents;
}

#tst-site-nav > .tst-section-inner ul li a {
  white-space: nowrap;
  color: var(--tst-color-primary);
  text-decoration: none;
  font-size: var(--tst-text);
  font-weight: 500;
  display: block;
}

/*______________________________________
Shrinking Nav
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-preload {
  animation: none;
}

[data-scrolled="true"] #tst-site-nav:not(.tst-nav-open).tst-nav-hide {
  transform: translateY(calc(-100% + var(--tst-space-s)));
}

@keyframes open-nav {
  from {
    height: var(--tst-nav-height-scrolled);
  }
  to {
    height: var(--tst-nav-height);
  }
}

[data-scrolled="true"] #tst-site-nav {
  animation: shrink-nav 0.3s ease-in-out forwards;
}

@keyframes shrink-nav {
  to {
    height: var(--tst-nav-height-scrolled);
  }
}

/*______________________________________
Logo
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav img {
  height: 100%;
  width: auto;
  filter: invert(1);
  margin-right: auto;
}

/*______________________________________
Desktop: Navigation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav #tst-menu-btn {
  appearance: none;
  display: none;
  background-color: unset;
  color: var(--tst-color-primary);
  border: none;
  margin: 0;
  padding: 0;
  font-size: calc(var(--tst-current-nav-height) - 3 * var(--tst-space-s));
  transition: all 0.3s ease-in-out;
}

#tst-site-nav #tst-menu-btn::before {
  content: "\e5d2";
  display: block;
  font-family: var(--tst-icon-font);
}

#tst-site-nav > .tst-section-inner .tst-nav-overlay {
  display: none;
  position: fixed;
  height: calc(100vh - var(--tst-current-nav-height));
  top: var(--tst-current-nav-height);
  left: 0;
  width: 100vw;
  z-index: 99;
}

/*______________________________________
Desktop: Sub Menu
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level {
  position: relative;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

#tst-site-nav .tst-section-inner li.tst-nav-sub-level::after {
  content: "\e5cf";
  font-family: var(--tst-icon-font);
  right: 0;
  font-size: var(--tst-nav-icon-font-size);
  line-height: 1;
}

#tst-site-nav:not(.tst-nav-mobile) .tst-section-inner li.tst-nav-sub-level ul {
  display: none;
  position: absolute;
  top: 100%;
  padding: var(--tst-nav-gap-y) var(--tst-space-x);
  background-color: var(--tst-color-text);
  flex-direction: column;
  gap: var(--tst-nav-gap-y);
  left: 50%;
  transform: translate(-50%);
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  li.tst-nav-sub-level:last-child
  ul {
  transform: translate(var(--tst-space-x));
  right: 0;
  left: unset;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  :is(li.tst-nav-sub-level:hover, li.tst-nav-sub-level:focus-within)
  ul {
  display: flex;
}

/*______________________________________
Desktop: Link animation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
#tst-site-nav:not(.tst-nav-mobile) > .tst-section-inner ul li {
  position: relative;
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  ul
  :is(li.tst-hover, li:not(.tst-preload))::before {
  content: "";
  z-index: 101;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--tst-color-primary);
  transition: width 0.3s ease-in-out;
  top: 50%;
  right: 0;
  transform: translateY(1rem);
  animation: link-out 0.3s ease-in-out forwards;
}

@keyframes link-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

#tst-site-nav:not(.tst-nav-mobile)
  .tst-section-inner
  ul
  :is(li:hover, li:focus-within)::before {
  animation: link-in 0.3s ease-in-out forwards;
}

@keyframes link-in {
  from {
    width: 0;
    left: 0;
    right: unset;
  }
  to {
    width: 100%;
    left: 0;
    right: 0;
  }
}

/*______________________________________
Mobile: Navigation
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-nav-mobile #tst-menu-btn {
  display: block;
}

#tst-site-nav.tst-nav-mobile {
  overflow: visible;
}

#tst-site-nav.tst-nav-mobile > .tst-section-inner > ul {
  display: none;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open > .tst-section-inner > ul {
  animation: slide-in 0.1s ease-out forwards;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--tst-color-text);
  height: calc(100vh - var(--tst-current-nav-height));
  top: var(--tst-current-nav-height);
  right: 0;
  z-index: 100;
  width: max-content;
  gap: 0;
  padding: var(--tst-space-s) 0;
  min-width: 62vw;
  border-left: 2px solid var(--tst-color-text);
  border-right: 2px solid var(--tst-color-text);
  overflow-y: scroll;
  padding-bottom: 12rem;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open.tst-nav-close
  > .tst-section-inner
  > ul {
  animation: slide-out 0.1s ease-out forwards;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  > ul
  li:not(.tst-nav-sub-level) {
  display: block;
  width: 100%;
  /* if change: mobile sub should be updated */
  padding: var(--tst-space-s) var(--tst-space-x);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/*______________________________________
Mobile: Overlay
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
#tst-site-nav.tst-nav-mobile.tst-nav-open
  > .tst-section-inner
  .tst-nav-overlay {
  display: block;
  animation: blur-in 0.1s ease-out forwards;
}

#tst-site-nav.tst-nav-mobile.tst-nav-open.tst-nav-close
  > .tst-section-inner
  .tst-nav-overlay {
  animation: blur-out 0.1s ease-out forwards;
}

@keyframes blur-in {
  from {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  to {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

@keyframes blur-out {
  from {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
  to {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

/*______________________________________
Mobile: Sub Menu
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.3rem;
  justify-items: start;
  grid-auto-flow: dense;
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level li {
  background-color: var(--tst-color-background-1);
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level
  li:not(:first-child) {
  border-top: 2px solid var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level li a {
  color: var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level ul {
  display: none;
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level.tst-open
  ul {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  background-color: var(--tst-color-text);
}

#tst-site-nav.tst-nav-mobile .tst-section-inner li.tst-nav-sub-level > a {
  padding: var(--tst-space-s) 0 var(--tst-space-s) var(--tst-space-x);
  position: relative;
}

#tst-site-nav.tst-nav-mobile
  .tst-section-inner
  li.tst-nav-sub-level.tst-open
  > a::before {
  content: "";
  z-index: 101;
  display: block;
  position: absolute;
  height: 2px;
  width: calc(
    100% - var(--tst-space-x) + 0.3rem + var(--tst-nav-icon-font-size)
  );
  background-color: var(--tst-color-primary);
  transition: width 0.3s ease-in-out;
  top: 50%;
  right: 0;
  transform: translate(calc(0.3rem + var(--tst-nav-icon-font-size)), 1rem);
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. SECTIONS
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

main {
  display: contents;
}

.tst-section {
  width: 100vw;
}

.tst-section .tst-section-inner,
main > :not([class*="section"]) {
  max-width: calc(var(--tst-default-page-width) + var(--tst-space-x) * 2);
  margin: 0 auto;
  padding: var(--tst-space-y) var(--tst-space-x);
}

[class*="tst-grid"] > .tst-section-inner {
  display: grid;
  grid-gap: var(--tst-space-m);
  place-items: center;
}

.tst-grid-2 > .tst-section-inner {
  grid-template-columns: 1fr 1fr;
}

[class*="tst-grid-2"] img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
2. FOOTER
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
3. SLIDER
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

/*______________________________________________________________________________
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
4. HERO
________________________________________________________________________________
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/
/*______________________________________
Section specific
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯*/

main > header:first-child {
  height: calc(100vh - var(--tst-current-nav-height));
  background-position: center;
  background-size: cover;
  background:
    linear-gradient(180deg, #ffffff00 60%, var(--tst-color-background-1) 100%),
    url("./img/3.jpg") center / cover;
}
